
    <div>
        <h2>@Localizer["Home"]</h2>
    </div>

    <ul>
        <li><a asp-controller="ServiceRequests" asp-action="Index">@Localizer["ServiceRequests"]</a></li>
        <li><a asp-controller="Services" asp-action="Index">@Localizer["Services"]</a></li>
    </ul>